{% extends 'base.html.twig' %}

{% block fos_user_content %}
    {% stylesheets '@AppBundle/Resources/css/glowna.css*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <style>
        .jumbotron{
            padding-right: 100px;
        }
    </style>
    <div class="jumbotron text-center">
        <h1>Cztery Ściany</h1>
        <p>System wspomagania wynajmu stancji</p>
        <div class="row">
            <div class="container" >
                {{ form_start(form, {'attr': {'class': 'form-horizontal style-form', 'role': 'form'}}) }}
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 col-sm-offset-2">
                        <div class="form group">
                            {{ form_label(form.search) }}
                            <div class="col-sm-5 col-md-5 col-md-5 col-lg-5 col-xs-5">
                                {{ form_widget(form.search, {'attr': {'class':'form-control' , 'placeholder' : 'czego szukasz?'}}) }}
                                {{ form_errors(form.search) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.kategoria, 'Kategoria: ', {'label_attr': {'class': 'col-sm-1 col-md-1 col-lg-1 col-xs-1 control-label'}}) }}
                            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
                                {{ form_widget(form.kategoria, {'attr': {'class':'form-control'}}) }}
                                {{ form_errors(form.kategoria) }}
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-sm-12 col-sm-offset-2">
                        <div class="form group">
                            {{ form_label(form.cenaod, 'Cena:', {'label_attr': {'class': 'col-md-1 col-sm-1 col-lg-1 col-xs-1 control-label'}}) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
                                {{ form_widget(form.cenaod, {'attr': {'class':'form-control', 'placeholder' : 'od'}}) }}
                                {{ form_errors(form.cenaod) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.cenado) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
                                {{ form_widget(form.cenado, {'attr': {'class':'form-control', 'placeholder' : 'do'}}) }}
                                {{ form_errors(form.cenado) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.metrazod, 'Metraż: ', {'label_attr': {'class': 'col-md-1 col-sm-1 col-lg-1 col-xs-1 control-label'}}) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1" id="metraz2">
                                {{ form_widget(form.metrazod, {'attr': {'class':'form-control', 'placeholder' : 'od'}}) }}
                                {{ form_errors(form.metrazod) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.metrazdo) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1" id="metraz2">
                                {{ form_widget(form.metrazdo, {'attr': {'class':'form-control', 'placeholder' : 'od'}}) }}
                                {{ form_errors(form.metrazdo) }}
                            </div>
                        </div>
                        <div class="pull-left">
                            <div class="col-sm-offset-7">
                                <button type="submit" class="btn btn-md btn-warning" id="szukaj"><span class="glyphicon glyphicon-search"></span>Szukaj</button>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>


    <div id="map" style="height:400px;width:100%;"></div>
    <!-- Add Google Maps -->

    <div class="col-sm-offset-0">
        <h1 class="page-header text-center">Najczęściej oglądane</h1>
    </div>



    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                {% for oferta in pagination %}
            {% if loop.index0<4 %}

                <ul class="thumbnails">
                    <li class="col-sm-3">
                        <div class="fff">
                            <div class="thumbnail ">
                                <div class="vertical-center">
                                {% if zdjecia[loop.index0]!=null %}
                                <a href="#"><img class="imgg" src="{{ asset(zdjecia[loop.index0].imagePath) }}"></a>
                                {% else %}
                                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                {% endif %}
                                </div>
                            </div>
                            <div class="caption">
                                <h4>{{ oferta.tytul }}</h4>
                                <p>{{ oferta.kategoria }} Cena: {{ oferta.cena }}</p>
                                    <a href="{{ path('_oferta', {'idOferty' : oferta.idOferty}) }}">Zobacz więcej</a>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endif %}
                {% endfor %}
            <!-- /Slide1 -->
            </div>
            <div class="item">
                {% for oferta in pagination %}
                    {% if loop.index0>3 %}

                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail ">
                                    <div class="vertical-center">
                                    {% if zdjecia[loop.index0]!=null %}
                                        <a href="#"><img src="{{ asset(zdjecia[loop.index0].imagePath) }}" ></a>
                                    {% else %}
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>{{ oferta.tytul }}</h4>
                                    <p>{{ oferta.kategoria }} Cena: {{ oferta.cena }}</p>
                                    <a href="{{ path('_oferta', {'idOferty' : oferta.idOferty}) }}">Zobacz więcej</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <nav>
            <ul class="control-box pager">
                <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
            </ul>
        </nav>
        <!-- /.control-box -->

    </div><!-- /#myCarousel -->



    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
                center: new google.maps.LatLng(51.2379753, 22.5754416),
                zoom: 11,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions)
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock fos_user_content %}