{% extends 'base.html.twig' %}

{% block fos_user_content %}
    {% stylesheets '@AppBundle/Resources/css/glowna.css*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="jumbotron text-center">
        <h1>Cztery Ściany</h1>
        <p>System wspomagania wynajmu stancji</p>
        <div class="row">
            <div class="container" >
                {{ form_start(form, {'attr': {'class': 'form-horizontal style-form', 'role': 'form'}}) }}
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 col-sm-offset-2">
                        <div class="form group">
                            {{ form_label(form.search) }}
                            <div class="col-sm-5 col-md-5 col-md-5 col-lg-5 col-xs-5">
                                {{ form_widget(form.search, {'attr': {'class':'form-control' , 'placeholder' : 'czego szukasz?'}}) }}
                                {{ form_errors(form.search) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.kategoria, 'Kategoria: ', {'label_attr': {'class': 'col-sm-1 col-md-1 col-lg-1 col-xs-1 control-label'}}) }}
                            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
                                {{ form_widget(form.kategoria, {'attr': {'class':'form-control'}}) }}
                                {{ form_errors(form.kategoria) }}
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-sm-12 col-sm-offset-2">
                        <div class="form group">
                            {{ form_label(form.cenaod, 'Cena:', {'label_attr': {'class': 'col-md-1 col-sm-1 col-lg-1 col-xs-1 control-label'}}) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
                                {{ form_widget(form.cenaod, {'attr': {'class':'form-control', 'placeholder' : 'od'}}) }}
                                {{ form_errors(form.cenaod) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.cenado) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
                                {{ form_widget(form.cenado, {'attr': {'class':'form-control', 'placeholder' : 'do'}}) }}
                                {{ form_errors(form.cenado) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.metrazod, 'Metraż: ', {'label_attr': {'class': 'col-md-1 col-sm-1 col-lg-1 col-xs-1 control-label'}}) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1" id="metraz2">
                                {{ form_widget(form.metrazod, {'attr': {'class':'form-control', 'placeholder' : 'od'}}) }}
                                {{ form_errors(form.metrazod) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.metrazdo) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1" id="metraz2">
                                {{ form_widget(form.metrazdo, {'attr': {'class':'form-control', 'placeholder' : 'od'}}) }}
                                {{ form_errors(form.metrazdo) }}
                            </div>
                        </div>
                        <div class="pull-left">
                            <div class="col-sm-offset-7">
                                <button type="submit" class="btn btn-md btn-warning" id="szukaj"><span class="glyphicon glyphicon-search"></span>Szukaj</button>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>


    <div id="map" class="center" style="width: 80%; height: 480px; margin: auto;"></div>
    <!-- Add Google Maps -->

    <div class="col-sm-offset-0">
        <h1 class="page-header text-center">Najczęściej oglądane</h1>
    </div>



    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                {% for oferta in pagination %}
            {% if loop.index0<4 %}

                <ul class="thumbnails">
                    <li class="col-sm-3">
                        <div class="fff">
                            <div class="thumbnail ">
                                <div class="vertical-center">
                                {% if zdjecia[loop.index0]!=null %}
                                <a href="{{ path('_oferta', {'idOferty' : oferta.idOferty}) }}"><img class="imgg" src="{{ asset(zdjecia[loop.index0].imagePath) }}"></a>
                                {% else %}
                                <a href="{{ path('_oferta', {'idOferty' : oferta.idOferty}) }}"><img src="http://placehold.it/360x240" alt=""></a>
                                {% endif %}
                                </div>
                            </div>
                            <div class="caption">
                                <h4>{{ oferta.tytul }}</h4>
                                <p>{{ oferta.kategoria }} Cena: {{ oferta.cena }}</p>
                                    <a href="{{ path('_oferta', {'idOferty' : oferta.idOferty}) }}">Zobacz więcej</a>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endif %}
                {% endfor %}
            <!-- /Slide1 -->
            </div>
            <div class="item">
                {% for oferta in pagination %}
                    {% if loop.index0>3 %}

                    <ul class="thumbnails">
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail ">
                                    <div class="vertical-center">
                                    {% if zdjecia[loop.index0]!=null %}
                                        <a href="{{ path('_oferta', {'idOferty' : oferta.idOferty}) }}"><img src="{{ asset(zdjecia[loop.index0].imagePath) }}" ></a>
                                    {% else %}
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>{{ oferta.tytul }}</h4>
                                    <p>{{ oferta.kategoria }} Cena: {{ oferta.cena }}</p>
                                    <a href="{{ path('_oferta', {'idOferty' : oferta.idOferty}) }}">Zobacz więcej</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <nav>
            <ul class="control-box pager">
                <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
            </ul>
        </nav>
        <!-- /.control-box -->

    </div>
    <!-- /#myCarousel -->
    <script type="text/javascript">
        var map;
        var myLatLng;
        function initMap() {
            geocoder = new google.maps.Geocoder();
            myLatLng = {lat: 51.2379753, lng: 22.5754416};

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: myLatLng});

            //var address = document.getElementById("address").value;
            {% for oferta in oferty %}
                {% if oferta.latitude!=300 %}
                    myLatLng = {lat:{{ oferta.latitude }}, lng: {{ oferta.longitude}}};
                    map.setCenter(myLatLng);
                    var marker{{ loop.index0 }} = new google.maps.Marker({
                        map: map,
                        position: myLatLng,
                        title: '{{ oferta.tytul }}'
                    });
                    var contentString = '<div id="content" style="font-family:Helvetica,Arial,sans-serif";>'+
                                            '<div id="siteNotice">'+'</div>'+
                                            '<h4 id="firstHeading" class="firstHeading" style="text-align: center;">'+'<a href="'+' {{ path('_oferta', {'idOferty' : oferta.idOferty}) }}'+'">'+'{{ oferta.tytul }}'+'</a></h4>'+
                                            '<div id="bodyContent container">'+
                                                '<div class="row-fluid">'+
                                                    '<div class="col-sm-6" >'
                                                        {% if oferta.zdjecia.first()!=null %}
                                                            +'<a href="'+'{{ path('_oferta', {'idOferty' : oferta.idOferty}) }}'+'"><img src="'+'{{ asset(oferta.zdjecia.first().imagePath) }}'+'"></a>'
                                                        {% else %}
                                                            +'<a href="#"><img src="http://placehold.it/360x240" class="img-thumbnail" alt=""></a>'
                                                        {% endif %}
                                                    +'</div>'+
                                                    '<div class="col-sm-6" >'+
                                                        '<p>'+'{{ oferta.miasto }}'+", "+'{{ oferta.dzielnica }}'+", "+'{{ oferta.ulica }}'+'</p>'+
                                                        '<p><b>' +"Kategoria: "+'</b>'+'{{ oferta.kategoria }}'+'</p>'+
                                                        '<p><b>' +"Metraż: "+'</b>'+'{{ oferta.metraz }}'+"m"+'<sup>2</sup>'+'</p>'+
                                                        '<p><b>' +"Cena: "+'</b>'+'{{ oferta.cena }}'+"zł/miesiąc"+'</p>'+
                                                        '<br></<br>'+
                                                        '<p align="right" >'+'<a href="'+' {{ path('_oferta', {'idOferty' : oferta.idOferty}) }}'+'">'+"Zobacz ofertę>>"+'</a><p>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>';

                    var infowindow{{ loop.index0 }} = new google.maps.InfoWindow({
                        content: contentString
                    });

                    marker{{ loop.index0 }}.addListener('click', function() {
                        infowindow{{ loop.index0 }}.open(map, marker{{ loop.index0 }});
                    });
                {% endif %}
            {% endfor %}
            myLatLng = {lat: 51.2379753, lng: 22.5754416};
            map.setCenter(myLatLng);
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdSTnvg7Dc-Eaa1NXybx3ZJa7NL0LIrTY&callback=initMap">
    </script>


{% endblock fos_user_content %}