{% extends "base.html.twig" %}

{% block fos_user_content %}
    {% stylesheets '@AppBundle/Resources/css/profil.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <script>
        $(document).ready(function() {
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
        });
    </script>

    <div class="fos_user_user_show">
        <div class="container" id="kontener">
            <div class="col-lg-12 col-sm-12">
                <div class="card hovercard">
                    <div class="card-background">
                        <img class="card-bkimg" alt="" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        <!-- http://lorempixel.com/850/280/people/9/ -->
                    </div>
                    <div class="useravatar">
                        <img alt="" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                    <div class="card-info"> <span class="card-title">{{ user.username }}</span>

                    </div>
                </div>
                <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                    <ul class="nav nav-pills nav-justified">
                        <li class="active"><a data-toggle="pill" href="#tab1"><span class="glyphicon glyphicon-user center-block" aria-hidden="true"></span><div class="hidden-xs">O mnie</div></a></li>
                        <li><a data-toggle="pill" href="#tab2"><span class="glyphicon glyphicon-heart center-block" aria-hidden="true"></span><div class="hidden-xs">Obserwowane oferty</div></a></li>
                        <li><a data-toggle="pill" href="#tab3"><span class="glyphicon glyphicon-comment center-block" aria-hidden="true"></span><div class="hidden-xs">Komentarze</div></a></li>
                    </ul>
                </div>

                <div class="well">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <div class="col-sm-3 text-center">
                                <div class="row"><a href="{{ path('fos_user_profile_edit') }}" class="text-center new-account"><span class="glyphicon glyphicon-wrench"></span> Edytuj dane osobowe</a></div>
                                <div class="row"><a href="{{ path('fos_user_change_password') }}" class="text-center new-account"><span class="glyphicon glyphicon-wrench"></span> Zmień hasło</a></div>
                                <div class="row"><a href="{{ path('App_MojeWystawioneOgloszenia') }}" class="text-center new-account"><span class="glyphicon glyphicon-list-alt"></span> Wystawione ogłoszenia</a></div>
                            </div>
                            <div class="col-sm-3" id="tab11">
                                <h4>Informacje o mnie</h4>
                                <p>Imie i nazwisko: {{ user.imie }} {{ user.nazwisko }}</p>
                                <p>Nazwa użytkownika: {{ user.username }}</p>
                            </div>
                            <div >
                                <h4>Dane kontaktowe</h4>
                                <p>Adres email: {{ user.email }}</p>
                                <p>Numer telefonu: {{ user.telefon }}</p>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="tab2">

                            <table class="table">
                                <tr>
                                    {# sorting of properties based on query components #}
                                    <th>Tytuł</th>
                                    <th>Kategoria</th>
                                    <th>Cena</th>
                                </tr>

                                {# table body #}
                                {% for oferta in pagination %}
                                    <tr {% if loop.index is odd %}class="color"{% endif %}>

                                        <td><a href="{{ path('_oferta', {'idOferty' : oferta.idOferty}) }}"> {{ oferta.tytul }}</a></td>
                                        <td>{{ oferta.kategoria }}</td>
                                        <td>{{ oferta.cena }}zł/miesiąc</td>
                                        <td>
                                            <a href="{{ path('_nieobserwuj', { 'idOferty': oferta.idOferty }) }}"><span class="glyphicon glyphicon-trash"></span> Usuń</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </table>
                            {# display navigation #}

                            <div class="pull-right">{{ knp_pagination_render(pagination) }}</div>
                        </div>
                        <div class="tab-pane fade in clearfix" id="tab3">
                            {% for kom in komentarze %}
                                <div class="col-sm-1">
                                    <div class="thumbnail">
                                        <a href="{{ path('_profil', {'id': kom.userKomentujacy.id}) }}"><img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
                                    </div><!-- /thumbnail -->
                                </div><!-- /col-sm-1 -->

                                <div class="col-sm-11">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a id="prof" href="{{ path('_profil', {'id': kom.userKomentujacy.id}) }}">
                                                <strong>{{ kom.userKomentujacy}}</strong></a>
                                            <span class="text-muted col-sm-offset-9">{{kom.wyslano|date('d-m-Y H:i:s') }}</span>
                                        </div>
                                        <div class="panel-body">
                                            <p>{{kom.komentarz}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="pull-right">{{ knp_pagination_render(komentarze) }}</div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            if(location.hash) {
                $('a[href=' + location.hash + ']').tab('show');
            }
            $(document.body).on("click", "a[data-toggle]", function(event) {
                location.hash = this.getAttribute("href");
            });
        });
        $(window).on('popstate', function() {
            var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
            $('a[href=' + anchor +  ']').tab('show');
        });
    </script>
{% endblock fos_user_content %}
