{% extends 'base.html.twig' %}

{% block fos_user_content %}
    {% stylesheets '@AppBundle/Resources/css/search.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        .jumbotron{
            padding-right: 100px;
        }
    </style>
    <script src="jquery.hoverImageEnlarge.js"></script>

    <div class="jumbotron text-center">
        <div class="row">
            <div class="container" >
                {{ form_start(form, {'attr': {'class': 'form-horizontal style-form', 'role': 'form'}}) }}
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 col-sm-offset-2">
                        <div class="form group">
                            {{ form_label(form.search) }}
                            <div class="col-sm-5 col-md-5 col-md-5 col-lg-5 col-xs-5">
                                {{ form_widget(form.search, {'attr': {'class':'form-control' , 'placeholder' : 'czego szukasz?'}}) }}
                                {{ form_errors(form.search) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.kategoria, 'Kategoria: ', {'label_attr': {'class': 'col-sm-1 col-md-1 col-lg-1 col-xs-1 control-label'}}) }}
                            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
                                {{ form_widget(form.kategoria, {'attr': {'class':'form-control'}}) }}
                                {{ form_errors(form.kategoria) }}
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-sm-12 col-sm-offset-2">
                        <div class="form group">
                            {{ form_label(form.cenaod, 'Cena:', {'label_attr': {'class': 'col-md-1 col-sm-1 col-lg-1 col-xs-1 control-label'}}) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
                                {{ form_widget(form.cenaod, {'attr': {'class':'form-control', 'placeholder' : 'od'}}) }}
                                {{ form_errors(form.cenaod) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.cenado) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
                                {{ form_widget(form.cenado, {'attr': {'class':'form-control', 'placeholder' : 'do'}}) }}
                                {{ form_errors(form.cenado) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.metrazod, 'Metraż: ', {'label_attr': {'class': 'col-md-1 col-sm-1 col-lg-1 col-xs-1 control-label'}}) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1" id="metraz2">
                                {{ form_widget(form.metrazod, {'attr': {'class':'form-control', 'placeholder' : 'od'}}) }}
                                {{ form_errors(form.metrazod) }}
                            </div>
                        </div>
                        <div class="form group">
                            {{ form_label(form.metrazdo) }}
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1" id="metraz2">
                                {{ form_widget(form.metrazdo, {'attr': {'class':'form-control', 'placeholder' : 'od'}}) }}
                                {{ form_errors(form.metrazdo) }}
                            </div>
                        </div>
                        <div class="pull-left">
                            <div class="col-sm-offset-7">
                                <button type="submit" class="btn btn-md btn-warning" id="szukaj"><span class="glyphicon glyphicon-search"></span>Szukaj</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </div>

    <div class="container clearfix">
        {% if pagination.getTotalItemCount==0 %}
            <h1 class="page-header text-center">Nie udało się znaleźć wyników spełniających podane kryteria</h1>
        {% else %}
            <div class="col-sm-12 clearfix">
                <h2 class="page-header text-center">Wyniki wyszukiwania</h2>
                <div class="row">
                    <div class="pull-right dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sortowanie
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Kategoria:</li>
                            <li class="text-right">{{ knp_pagination_sortable(pagination, 'A-Z', 'o.kategoria',{'direction': 'desc'}) }}{{ knp_pagination_sortable(pagination, 'Z-A', 'o.kategoria',{'direction': 'asc'}) }}</li>
                            <li class="dropdown-header">Metraż:</li>
                            <li class="text-right">{{ knp_pagination_sortable(pagination, 'najwięcej', 'o.metraz',{'direction': 'desc'})}}{{ knp_pagination_sortable(pagination, 'najmniej', 'o.metraz', {'direction': 'asc'})}}</li>
                            <li class="dropdown-header">Cena:</li>
                            <li class="text-right">{{ knp_pagination_sortable(pagination, 'od najwyższej', 'o.cena', {'direction': 'desc'})}}{{ knp_pagination_sortable(pagination, 'od najniższej', 'o.cena', {'direction': 'asc'})}}</li>
                        </ul>
                    </div>
            <p></p>
                    <div class="tab-content clearfix">
                        {% for oferta in pagination %}
                        <div class="row">
                            <div class="col-sm-2 vertical-center">
                                <div class="thumbnail">
                                    <div class="">
                                        {% if oferta.zdjecia.first()!=null %}
                                            <a data-html="true" href="{{ path('_oferta', {'idOferty' : oferta.idOferty}) }}"><img src="{{ asset(oferta.zdjecia.first().imagePath) }}"></a>
                                        {% else %}
                                            <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                        {% endif %}
                                    </div>
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->
                            <div class="col-sm-10">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <strong><a href="{{ path('_oferta', {'idOferty' : oferta.idOferty}) }}">{{ oferta.tytul }}</a></strong>
                                        <span class="muted pull-right">{{ oferta.kategoria }}</span>
                                        <p>{{ oferta.cena }}zł/miesiąc</p><span class="muted pull-right">Metraż: {{ oferta.metraz }}<small>m<sup>2</sup></small></span>
                                        {% if oferta.wyposazenie.first()!=null   %}
                                            <div>
                                            <p>Wyposażenie:
                                                {% for wyp in oferta.wyposazenie %}
                                                    <lu> {{ oferta.wyposazenie[loop.index0].wyposazenie.nazwawyposazenia }},</lu>
                                                {% endfor %}
                                            </p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="pull-right">{{ knp_pagination_render(pagination) }}</div>
                    </div>
            </div>
        {% endif %}
    </div>
    </div>

{% endblock fos_user_content %}