{% extends "base.html.twig" %}

{% block fos_user_content %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <style>
        #kontener{
            position: relative;
            top: 60px;
        }
    </style>
        <div class="container" id="kontener">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="page-header text-center">Zmiana hasła</h1>
            <div class="col-sm-12">
                <div class="panel panel-default text-left">
                    <div class="panel-body">
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password'), 'attr': {'class': 'fos_user_change_password', 'class': 'form-horizontal'}}) }}
                                        <div class="form-group">
                                            {{ form_label(form.current_password, 'Aktualne hasło:', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                            <div class="col-sm-5">
                                                {{ form_widget(form.current_password, {'attr': {'class':'form-control'}}) }}
                                                {{ form_errors(form.current_password) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.plainPassword.first, 'Nowe hasło:', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                            <div class="col-sm-5">
                                                {{ form_widget(form.plainPassword.first, {'attr': {'class':'form-control' }}) }}
                                                {{ form_errors(form.plainPassword.first) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.plainPassword.second, 'Powtórz nowe hasło:', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                            <div class="col-sm-5">
                                                {{ form_widget(form.plainPassword.second, {'attr': {'class':'form-control' }}) }}
                                                {{ form_errors(form.plainPassword.second) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-sm-offset-5">
                                                <input type="submit" class="btn btn-lg btn-primary" value="Zmień hasło" >
                                        </div>
                                        {{ form_end(form) }}
                        <div class="col-sm-12">
                            <div class="pull-right"><a href="{{ path('fos_user_profile_show') }}" class="text-center new-account"><h4>Powrót do profilu</h4></a></div>
                        </div>

                        </div>

                    </div>
                    </div>
            </div>
        </div>
{% endblock fos_user_content %}